@media (min-width: 320px) and (max-width: 575px){
    .hero-section{
        .searchbar{
            position: relative;
            width: 100%;
            transform: translate(0%, -10%);
            left: 0;
            top: 0;

        }
    }
    .cities{
        .gallery{
            height: 200px !important;
        }
    }
    .property-list{
        .wrapper{
            display: block;
                .col{
                    .listing-box{
                        display: block !important;
                        .listing-image {
                            max-width: 100% !important;
                        }
                        .listing-content{
                            .p-price{
                                margin-top: 15px;
                            }
                            h4{
                                width: auto;
                            }
                            p{
                                width: auto !important;
                            }
                        }
                    }
                } 
    } 
    .left-side-search .widget-wrapper input.amount, .property-list .left-side-search .widget-wrapper input.amount2{
        width: 40%;
    }
    }
    .login .login-form{
        margin: 0;
    }
    .property-details .about-agent .top-properties .prprty-img{
        width: 100%;
    }
    .agent-info .about-agent{
        margin-top: 30px !important;
        width: 100% !important;
    }
}
@media (min-width: 576px) and (max-width: 991px){
    .hero-section{
        .searchbar{
            width: 100%;
            transform: translate(0%, -14%);
            left: 0;

        }
    }
    .property-list{
        .wrapper{
            display: block;
                .col{
                    .listing-box{
                        display: block !important;
                        .listing-image {
                            max-width: 100% !important;
                        }
                        .listing-content{
                            h4{
                                width: auto;
                            }
                            p{
                                width: auto !important;
                            }
                        }
                    }
                } 
    } 
    .left-side-search .widget-wrapper input.amount, .property-list .left-side-search .widget-wrapper input.amount2{
        width: 42%;
    }
    }
    .property-details .about-agent .top-properties .prprty-img{
        width: 100%;
    }
    .agent-info .about-agent{
        margin-top: 30px !important;
        width: 100% !important;
    }
}
@media (min-width: 992px) and (max-width: 1440px){
    .hero-section .searchbar{
        width: 100%;
        left: 0;
        transform: translate(0%, -30%);

    }
    .property-list{
        .wrapper{
            .listing-content{
                h4{
                    width: 260px !important;
                    font-size: 1rem !important;
                }
                .location{
                    width: 260px !important;
                }
            }
    } 
    .left-side-search .widget-wrapper input.amount, .property-list .left-side-search .widget-wrapper input.amount2{
        width: 40%;
    }
    }
    .agent-info .about-agent{
        margin-top: -30px !important;
        width: 90% !important;
    }
}